*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(
        rgba(139, 23, 23, 0.753),
        rgba(97, 54, 54, 0.651)
    ),url('../images/coffeshop.PNG');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    height: 10%;
    display: flex;
}

.nav-left{
    background-color: white;
    flex-basis: 30%;
    position: relative;
}

.nav-icons{
    top: 25%;
    left: 15%;
    position: absolute;
}

.nav-icons ul li{
    display: inline-block;
    margin-right: 40px;
}

.nav-icons ul li i{
    color: grey;
}

.nav-right{
    flex-basis: 70%;
    position: relative;
}

.nav-menus{
    top: 10%;
    right: 15%;
    position: absolute;
}

.nav-menus ul li{
    display: inline-block;
    margin-left: 20px;
}

.nav-menus ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.nav-menus ul li a:hover{
    color: hotpink;
    border-bottom: 1px white solid;
    padding-bottom: 10px;
}

.logo{
    font-family: 'Pacifico', cursive;
    color: hotpink;
    font-size: 30px;
}

.content{
    height: 90%;
    display: flex;
}

.content-left{
    background-color: white;
    flex-basis: 30%;
    position: relative;
}

.social-media{
    top: 85%;
    left: 10%;
    position: absolute;
}

.social-media ul li{
    display: inline-block;
    margin-right: 15px;
}

.social-media ul li a{
    color: hotpink;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.content-right{
    flex-basis: 70%;
    position: relative;
}

.display{
    left: -23%;
    top: 20%;
    position: absolute;
}

.display img{
    width: 400px;
    height: 400px;
}

.text{
    bottom: 20%;
    right: 15%;
    position: absolute;
}

.text h1{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 60px;
}

.text p{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 25px;
}