*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(
        rgba(139, 23, 23, 0.753),
        rgba(97, 54, 54, 0.651)
    ),url('../images/coffeshop.PNG');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}